* {
    /* outline: 1px solid red; */
}

:root{
    --mainColor:#000;
    --font-CHT:'Noto Sans TC';
    --font-ENG:'Roboto';

}

/* , 'Noto Sans TC' */
body{
    box-sizing: border-box;
    font-family: var(--font-ENG),var(--font-CHT), sans-serif;
     /* font-family: 'Noto Sans TC', sans-serif; */
}

/* section landing_page */
.landing_page {
    height: 100vh;
    background:var(--mainColor);
    overflow: hidden;
    pointer-events: none; 
}

.landing_page::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f00,#f00,#0f0,#0ff,#ff0,#0ff);
    mix-blend-mode: color;
    /* pointer-events: none; */
}

.landing_page video{
    object-fit: cover;
    height: 100vh;
    width: 100%;
    /* z-index: 99; */
}

.landing_page .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.landing_page .title h1 { 
    font-size: 5em;
    letter-spacing: .1em; 
}

.landing_page .title h2 {
    font-size: 4em;
    font-weight: 300;
    letter-spacing: .2em; 
}

.landing_page .title h1,
.landing_page .title h2{
    line-height: 1.5;
    color: #fff;
}

.landing_page .title h1 span{
    opacity: 0;
    display: inline-block;
    animation: amt_h1 1s linear forwards;
}

@keyframes amt_h1
{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}

.landing_page .title h1 span:nth-child(1){
    animation-delay: 2s;
}

.landing_page .title h1 span:nth-child(2){
    animation-delay: 2.75s;
}

.landing_page .title h1 span:nth-child(3){
    animation-delay: 3s;
}

.landing_page .title h1 span:nth-child(4){
    animation-delay: 3.25s;
}

.landing_page .title h1 span:nth-child(5){
    animation-delay: 3.5s;
}

.landing_page .title h1 span:nth-child(6){
    animation-delay: 3.75s;
}

.landing_page .title h2 span{
    opacity: 0;
    display: inline-block;
    animation: amt_h2 1s linear forwards;
}

@keyframes amt_h2
{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}

.landing_page .title h2 span:nth-child(1){
    animation-delay: 1.75s;
}
.landing_page .title h2 span:nth-child(2){
    animation-delay: 2s;
}
.landing_page .title h2 span:nth-child(3){
    animation-delay: 2.5s;
}
.landing_page .title h2 span:nth-child(4){
    animation-delay: 2.75s;
}
.landing_page .title h2 span:nth-child(5){
    animation-delay: 3s;
}
.landing_page .title h2 span:nth-child(6){
    animation-delay: 3.25s;
}
.landing_page .title h2 span:nth-child(7){
    animation-delay: 3.5s;
}
.landing_page .title h2 span:nth-child(8){
    animation-delay: 3.75s;
}
.landing_page .title h2 span:nth-child(9){
    animation-delay: 4s;
}

.nextpage_btn {    
    /* outline: 1px solid red; */
    display: none;
    position: absolute;
    top:150%;
    left:50%;
    pointer-events:auto;
    cursor: pointer;
}
.nextpage_btn span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    margin: -5px;
    animation: nextpage_btn 2s infinite;

}

@keyframes nextpage_btn{
    0%{
        opacity: 0;
        transform:rotate(45deg) translate(-20px, -20px);
    }

    50%{
        opacity: 1;
    }
 
    100%{
        opacity: 0;
        transform:rotate(45deg) translate(20px, 20px);
    }
    
}

.nextpage_btn span:nth-child(2){
    animation-delay: -.1s;
}
.nextpage_btn span:nth-child(3){
    animation-delay: -.2s;
}

/* introduction */
.container {
    max-width: 1140px;
}